{% extends "base.html" %}
{% load static %}

{% block title_head %}Editar{% endblock title_head %}

{% block title_h1 %}Editar tu peli{% endblock title_h1 %}

{% block contenido %}
<form action="", method="POST">
    {% csrf_token %}
    <label for="id_title">Título:</label>
    {{form.title}} <br>
    <label for="id_director">Director/xs:</label>
    {{form.director}}<br>
    <label for="id_release_year">Fecha de lanzamiento:</label>
    {{form.release_year}}<br>
    <label for="id_length">Duración (en minutos):</label>
    {{form.length}}<br>
    <label for="id_genre">Género:</label>
    {{form.genre}}<br>
    <label for="id_rating">Puntaje:</label>
    {{form.rating}}<br>
    <input type="submit" value="Modificá tu peli">
</form>
{% endblock contenido %}
