{% extends "base.html" %}
{% load static %}

{% block title_head %}Agregá tu película{% endblock title_head %}

{% block title_h1 %}Acá vas a agregar tu <span class="text-info">película</span>!{% endblock title_h1 %}

{% block contenido %}
<form action="", method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_title">Título:</label>
    {{formulario.title}} <br>
    <br><label for="id_director">Director/xs:</label>
    {{formulario.director}}<br>
    <br><label for="id_release_year">Fecha de lanzamiento:</label>
    {{formulario.release_year}}<br>
    <br><label for="id_length">Duración (en minutos):</label>
    {{formulario.length}}<br>
    <br><label for="id_genre">Género:</label>
    {{formulario.genre}}<br>
    <br><label for="id_rating">Puntaje:</label>
    {{formulario.rating}}<br>
    <br><label for="id_poster">Póster:</label>
    {{ formulario.poster }}<br> 
    <br><input class='btn btn-info' type="submit" value="Agregá tu peli">
</form>
{% endblock contenido %}