{% extends "base.html" %}
{% block title_head %}LetraCaja - Inicio{% endblock %}
{% block title_h1 %}Bienvenido a <span class="text-info">LetraCaja</span>{% endblock title_h1 %}

{% block contenido %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h2 class="fw-bold text-primary">¡Registrá y organizá tus películas favoritas!</h2>
        <p class="lead">Puntualas, filtralas y llevá el control donde y cuando quieras.</p>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% if has_movies %}
        <div class="col">
            <div class="card shadow-sm h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title text-success"><i class="bi bi-plus-circle"></i> ¡Creá más películas!</h5>
                    <p class="card-text">Expandí tu colección agregando nuevas películas.</p>
                    <a href="{% url 'create_movie' %}" class="btn btn-success">Crear Nueva Película</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title text-success"><i class="bi bi-film"></i> ¡Mirá y Editá tus Pelis!</h5>
                    <p class="card-text">Accedé a tu lista de películas y editá sus detalles cuando lo necesites.</p>
                    <a href="{% url 'movie_list' %}" class="btn btn-success">Ver Mis Películas</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col">
            <div class="card shadow-sm h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title text-success"><i class="bi bi-emoji-smile"></i> ¡Comenzá tu Aventura!</h5>
                    <p class="card-text">Registrá tu primera película y empezá tu colección.</p>
                    <a href="{% url 'create_movie' %}" class="btn btn-success">Crear Primera Película</a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col">
            <div class="card shadow-sm h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title text-success"><i class="bi bi-people-fill"></i> ¡Conocé Más Sobre Nosotros!</h5>
                    <p class="card-text">Descubrí la historia detrás de LetraCaja y nuestra pasión por el cine.</p>
                    <a href="{% url 'about_me' %}" class="btn btn-success">Sobre Nosotros</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
