<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetraCaja</title>
</head>
<body>
    <h1>Bienvenido a LetraCaja</h1>
    <h2>En esta web vas a poder ingresar todas las películas que veas, puntuarlas y filtrarlas cuando quieras y donde quieras</h2>
    <nav>
        <p>¿Querés ingresar una peli nueva?</p><a href="/create-movie"> Hacé click acá!</a>
        <p>¿Querés ver el listado de pelis ingresadas y filtrarlas?</p><a href="/movie-list"> Hacé click acá!</a>
    </nav>
</body>
</html>