{% extends "base.html" %}
{% load static %}

{% block title_head %}Listado de Películas{% endblock title_head %}

{% block title_h1 %}Listado de <span class="text-info">películas</span>{% endblock title_h1 %}

{% block contenido %}
<p><h3>Filtrá tu peli por:</h3></p>
    <form method="get">
        {{ formulario.as_p }}
        <input class="btn btn-primary" type="submit" value="Buscar">
    </form>

    {% if movies %}
    <div class="table-responsive">
        <table border="1" class="table table-bordered">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Director</th>
                    <th>Año de Lanzamiento</th>
                    <th>Duración (minutos)</th>
                    <th>Género</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr >
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.director }}</td>
                        <td>{{ movie.release_year.year }}</td>
                        <td>{{ movie.length }}</td>
                        <td>{{ movie.get_genre_display }}</td>
                        <td>
                            <a href="{% url 'movie_details' movie.id %}" class="btn btn-info">Ver más</a> 
                            <a href="{% url 'edit_movie' movie.id %}" class="btn btn-warning">Editar</a> 
                            <a href="{% url 'delete_movie' movie.id %}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No se encontraron películas.</p>
    {% endif %}
    <a href="{% url 'create_movie' %}" class="btn btn-info">Creá una nueva película</a>
{% endblock contenido %}
